  h1{
    text-align: center;
    

  }
  .image1{
    height: 200px;
    width: 200px;
    margin-left:300px;
    
}
.image2{
    height:200px;
    width:200px;
    margin-left:20px;
}
.image3{
    height: 200px;
    width:200px;
    margin-left:20px;
}
.image4{
    height:200px;
    width:200px;
    margin-left:20px;
}
.image5{
      height:200px;
      width:200px;
      margin-left:300px;
      padding:20x;
}
.image6{
    height:200px;
    width:200px;
    margin-left:20px;
}
.image7{
    height:200px;
    width:200px;
    margin-left:20px;



}
.image8{
    height:200px;
    width:200px;
    margin-left:20px;
}


